.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbarContainer {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo {
  font-size: 24px;
  font-weight: bold;
  color: #9c83ff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.desktopMenu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  font-size: 35px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navLink:hover {
  color: #9c83ff;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menuIcon {
  height: 24px;
  width: 24px;
}

.mobileMenu {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 40;
  display: none;
}

.mobileMenuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.mobileNavLink {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

@media (max-width: 1024px) {
  
}
